#nyusmapwrapper-org {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0;
    background-color: transparent;
    min-width: 220px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
#nyusmapbase-org svg {
    max-height: 100%;
    width: 100%;
    margin: 0;
}
@media screen and (max-width: 320px){
    #nyusmapbase-org svg {
        height:160px;
    }
}
@media screen and (max-width: 400px) and (min-width: 321px) {
    #nyusmapbase-org svg {
        height:220px;
    }
}
@media screen and (max-width: 480px) and (min-width: 401px) {
    #nyusmapbase-org svg {
        height:270px;
    }
}
@media screen and (max-width: 568px) and (min-width: 481px) {
    #nyusmapbase-org svg {
        height:330px;
    }
}
@media screen and (max-width: 685px) and (min-width: 569px) {
    #nyusmapbase-org svg {
        height:390px;
    }
}
@media screen and (max-width: 767px) and (min-width: 686px) {
    #nyusmapbase-org svg {
        height:430px;
    }
}
@media screen and (min-width: 768px) {
    #nyusmapbase-org svg {
        height:530px;
    }
}